In [1]:
import pandas as pd
import numpy as np

In [47]:
data_magazines = pd.read_csv(r'place_zone_coordinates.csv')
data_users = pd.read_csv(r'user_coordinates.csv')

In [72]:
data_magazines

    Latitude  Longitude  Description  Caption  Placemark number
0  55.721930  37.511864          NaN        1               NaN
1  55.723423  37.563255          NaN        0               NaN
2  55.723187  37.559859          NaN        2               NaN
3  55.742356  37.549844          NaN        3               NaN

In [74]:
coordinate_magazines = data_magazines[['Latitude', 'Longitude']]

In [75]:
coordinate_magazines

    Latitude  Longitude
0  55.721930  37.511864
1  55.723423  37.563255
2  55.723187  37.559859
3  55.742356  37.549844

In [171]:
#define radius of delivery area
radius = 10 # 1 km
delivery_radius = np.ones(coordinate_magazines.shape[0])*radius
coordinate_magazines['Delivery radius,(km)'] = delivery_radius
coordinate_magazines

<ipython-input-171-41e4f44da898>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coordinate_magazines['Delivery radius,(km)'] = delivery_radius

    Latitude  Longitude  Delivery radius,(km)
0  55.721930  37.511864                  10.0
1  55.723423  37.563255                  10.0
2  55.723187  37.559859                  10.0
3  55.742356  37.549844                  10.0

In [5]:
data_users

    Latitude  Longitude  Description  Caption  Placemark number
0  55.722306  37.565937          NaN        0               NaN
1  55.729305  37.560358          NaN        1               NaN
2  55.719447  37.555766          NaN        2               NaN
3  55.726350  37.529845          NaN        3               NaN
4  55.728385  37.522850          NaN        4               NaN
5  55.722427  37.522872          NaN        5               NaN
6  55.639428  37.357776          NaN        6               NaN
7  55.658090  37.731183          NaN        7               NaN
8  55.770599  37.664364          NaN        8               NaN

In [11]:
coordinate_users = data_users[['Latitude', 'Longitude']]

In [31]:
coordinate_users

    Latitude  Longitude
0  55.722306  37.565937
1  55.729305  37.560358
2  55.719447  37.555766
3  55.726350  37.529845
4  55.728385  37.522850
5  55.722427  37.522872
6  55.639428  37.357776
7  55.658090  37.731183
8  55.770599  37.664364

In [70]:
def calculate_distance(lat1, lon1, lat2, lon2, R = 6371):
    lat_1, lon_1, lat_2, lon_2 = np.radians([lat1, lon1, lat2, lon2])
    A = np.power(np.sin((lat_2-lat_1)/2),2)+np.cos(lat_2)*np.cos(lat_1)*np.power(np.sin((lon_2-lon_1)/2),2)
    return 2*R*np.arcsin(np.sqrt(A))

print(calculate_distance(55.7539, 37.6208, 59.9398, 30.3146))

634.5689802775989

In [89]:
users = coordinate_users.values
users_num = np.arange(users.shape[0]).reshape(-1,1)
users = np.concatenate((users, users_num), axis=1)

In [172]:
magazines = coordinate_magazines.values
magazines_num = np.arange(magazines.shape[0]).reshape(-1,1)
magazines = np.concatenate((magazines, magazines_num), axis=1)
magazines

array([[55.72193019, 37.5118639 , 10.        ,  0.        ],
       [55.72342284, 37.56325502, 10.        ,  1.        ],
       [55.72318668, 37.55985935, 10.        ,  2.        ],
       [55.74235609, 37.54984398, 10.        ,  3.        ]])

In [173]:
available_places = {}

for user_lat, user_lon, user in users:
    available_places[user] = []
    distances = np.zeros(magazines.shape[0])
    for mag_lat, mag_lon, r, mag in magazines:
        distances[int(mag)] = calculate_distance(user_lat, user_lon, mag_lat, mag_lon)
        if distances[int(mag)] < r:
            available_places[user].append(int(mag))
    if available_places[user] == []:
        available_places[user] = np.argsort(distances)[0:1]

In [174]:
for u in available_places.keys():
    print(f'для {u} человека доступно {available_places[u]} магазины')

для 0.0 человека доступно [0, 1, 2, 3] магазины
для 1.0 человека доступно [0, 1, 2, 3] магазины
для 2.0 человека доступно [0, 1, 2, 3] магазины
для 3.0 человека доступно [0, 1, 2, 3] магазины
для 4.0 человека доступно [0, 1, 2, 3] магазины
для 5.0 человека доступно [0, 1, 2, 3] магазины
для 6.0 человека доступно [0] магазины
для 7.0 человека доступно [1] магазины
для 8.0 человека доступно [1, 2, 3] магазины

In [175]:
def save_csv(filename):
    with open(filename, 'w') as file:
        file.write("user_id, num_of_available_places, magazines_id\n")
        for user in available_places.keys():
            file.write(f"{user}, {len(available_places[user])}, {available_places[user]}\n")

In [176]:
save_csv("available.csv")